.App {
  background-color: #1f4068;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.modal > .modal-card {
  margin-top: 10rem;
  border-radius: 1rem;
}