<div class="container-fluid">
    <div class="mt-5"></div>
    <div class="row justify-content-center">
        <div class="col-4">
          <form method="post" action="/get">
              {% csrf_token %}
              <div class="form-group">
                  <div class="input-group">
                      <input class='form-control' type="text" name="url" id="url" placeholder="Youtube url" required>
                      <div class='input-group-append'>
                        <button type="submit" id="btn-get" class="btn btn-primary">
                            download
                        </button>
                      </div>
                  </div>
              </div>
          </form>
        </div>
    </div>
</div>
