<div class="container-fluid">
    <div class="mt-5"></div>
    <div class="row justify-content-center">
        <div class="col-4">
          <form method="post" action="/download">
              <div class="form-group">
                    <textarea class='form-control' type="text" name="url" id="url" placeholder="Youtube url" required></textarea>
                    <button type="submit" id="btn-get" class="btn btn-primary">
                        download
                    </button>
              </div>
          </form>
        </div>
    </div>
</div>
